<!DOCTYPE html>
<html>
  <head>
    <title>守屋亮太/Moriya Ryota</title>
    <meta name="description" content="守屋亮太の自己紹介サイト">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


      <%= yield %>  
    <footer>
      <p>©2021 Moriya Ryota</p>
    </footer>

  </body>
</html>