<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8">
    <meta charset="utf-8">
    <title>守屋亮太/Moriya Ryota</title>
    <meta name="description" content="守屋亮太の自己紹介サイト">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="img/jpg" href="/assets/suisyouhama.JPG">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <div id="nav-toggle">
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="gloval-nav">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="https://kyoto-kouryaku.com/" target="_blank" rel="noopener noreferrer">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>

    <header class="page-header">
      <nav>
        <ul class="main-nav">
          <li><a href="/">home</a></li>
          <li><a href="#"></a></li>
          <li><a href="https://kyoto-kouryaku.com/" target="_blank" rel="noopener noreferrer">Blog</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
      </nav>
    </header>

      <%= yield %>  
    <footer>
      <p>©2021 Moriya Ryota</p>
    </footer>
  </body>
</html>